<?xml version='1.0' encoding='utf-8'?>
<widget id="net.ogail.skbah" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>skbah</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <plugin name="cordova-plugin-device" spec="1.1.5" />
    <plugin name="cordova-plugin-device-motion" spec="1.2.4" />
    <plugin name="cordova-plugin-device-orientation" spec="1.0.6" />
    <plugin name="cordova-plugin-dialogs" spec="1.3.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="1.7.0" />
    <plugin name="cordova-plugin-network-information" spec="1.3.2" />
    <plugin name="cordova-plugin-splashscreen" spec="4.0.2" />
    <plugin name="cordova-plugin-vibration" spec="2.1.4" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.2" />
    <access origin="http://sakbah.ogail.net*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
